@model IEnumerable<SneakerSeeker3.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
            <div class="col-12 col-lg-8">
                    <h2>Category Menu</h2>

                    <p>
                        <a asp-action="Create">Add New Category Here</a>
                    </p>

                <div class="cart-table clearfix">
                    <table class="table table-hover table-fixed">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageURL)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImageURL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>