@model IEnumerable<SneakerSeeker3.Models.ItemSize>

@{
    ViewData["Title"] = "Index";
}

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="col-12 col-lg-8">

                <h2>Size Menu</h2>

                <p>
                    <a asp-action="Create">Add New Size Here</a>
                </p>
                <div class="table-responsive-sm">
                    <table class="table table-hover table-fixed">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Size)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Size)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ItemSizeId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ItemSizeId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ItemSizeId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>