@model IEnumerable<SneakerSeeker3.Models.Cart>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;
}

<h1>Cart</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            total += item.Quantity * item.Price;  // update the running total of the whole cart
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="text-right">
                    @String.Format("{0:c}", item.Price)
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-id="@item.Id" onclick="return confirmDelete();">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="2"></td>
            <td class="text-right">@String.Format("{0:c}", total)</td>
            <td>
                <a asp-controller="Shop" asp-action="Index" class="btn btn-primary"><< Keep Shopping</a>
                <a asp-controller="Shop" asp-action="Checkout" class="btn btn-primary">Checkout >></a>
            </td>
        </tr>
    </tbody>
</table>
