@model SneakerSeeker3.Models.Product


@{
    ViewData["Title"] = "List of Search Product | By Product Name";

    Layout = "_Layout";
}



<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">   @Html.DisplayFor(model => model.ProductName) </li>


                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url( @Html.DisplayFor(model => model.ProductURL);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url( @Html.DisplayFor(model => model.ProductURL);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url( @Html.DisplayFor(model => model.ProductURL);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url( @Html.DisplayFor(model => model.ProductURL);">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href=" @Html.DisplayFor(model => model.ProductURL)">
                                    <img class="d-block w-100" src=" @Html.DisplayFor(model => model.ProductURL)" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href=" @Html.DisplayFor(model => model.ProductURL)">
                                    <img class="d-block w-100" src=" @Html.DisplayFor(model => model.ProductURL)" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href=" @Html.DisplayFor(model => model.ProductURL)">
                                    <img class="d-block w-100" src=" @Html.DisplayFor(model => model.ProductURL)" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href=" @Html.DisplayFor(model => model.ProductURL)">
                                    <img class="d-block w-100" src=" @Html.DisplayFor(model => model.ProductURL)" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">CAD @Html.DisplayFor(model => model.UnitPrice)</p>
                        <a href="#">
                            <h4> @Html.DisplayFor(model => model.ProductName)</h4>
                        </a>


                        @*    <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                        <div class="review">
                                <a href="#">Write A Review</a>
                            </div>*
                                    </div>*@

                    </div>

                    <div class="short_overview my-5">
                        <p> @Html.DisplayFor(model => model.ProductDescription)</p>
                    </div>

                    @if (TempData["product"] != null)
                    {
                        @TempData["product"].ToString();
                    }

                    <!-- Add to Cart Form -->
                <form asp-action="AddToCart" asp-class="cart clearfix">
                    <div class="cart-btn d-flex mb-50">
                        <p>Qty</p>
                       
                        <input name="Quantity" id="Quantity" required type="number" min="1" />
                        <input name="ProductId" id="ProductId" value="@Model.ProductId" type="hidden" />
                    </div>
  
                    <button class="btn btn-primary">Add to Cart</button>
                    <a href="javascript:history.go(-1);" class="btn btn-primary"><< Back to List</a>
                </form>



                </div>
            </div>




        </div>
    </div>
</div>


<!-- Product Details Area End -->
