@*@model IEnumerable<SneakerSeeker3.Models.Product>*@
@model ReflectionIT.Mvc.Paging.PagingList<SneakerSeeker3.Models.Product>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging



@{
    ViewData["Title"] = "Products";
}

<div class="shop_sidebar_area">
    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Catagories</h6>
        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                @* Here category list come from database using viewbag which code stay in Shop/Index method. and when user click any category, thats category products list only show in the shop page*@
                @foreach (var item in ViewBag.cateGoryListFromDb)
                {
                    <li>
                        <a href="@Url.Action("Index", "Shop", new { categoryId = item.CategoryId })">@item.CategoryName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- ##### Single Widget ##### -->
    <div class="widget brands mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Brands</h6>
        <div class="catagories-menu">
            <ul>
                @* Here brands list come from database using viewbag which code stay in Shop/Index method. and when user click any brands/supplier, thats brands products list only show in the shop page*@
                @foreach (var item in ViewBag.supplierListFromDb)
                {
                    <li>
                        <a href="@Url.Action("Index", "Shop", new { id = item.SupplierId })">@item.CompanyName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- ##### Single Widget ##### -->
    <div class="widget color mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Color</h6>
        <div class="widget-desc">
            <ul class="d-flex">

                @* Here brands list come from database using viewbag which code stay in Shop/Index method. and when user click any brands/supplier, thats brands products list only show in the shop page*@
                @foreach (var item in ViewBag.itemColorListFromDb)
                {
                    <li>
                        @if (item.Color == "Red")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:red;"></a>
                        }
                        else if (item.Color == "Blue")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:blue;"></a>
                        }
                        else if (item.Color == "Gray")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:gray;"></a>
                        }
                        else if (item.Color == "White")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:white;"></a>
                        }
                        else if (item.Color == "Black")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:black;"></a>
                        }
                        else if (item.Color == "Silver")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:silver;"></a>
                        }
                        else if (item.Color == "Curry")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:firebrick;"></a>
                        }
                        else if (item.Color == "Pink")
                        {
                            <a href="@Url.Action("Index", "Shop", new { ItemColorId = item.ItemColorId})" style="background-color:pink;"></a>
                        }
                    </li>
                }

            </ul>
        </div>
    </div>
    <!-- ##### Single Widget ##### -->
    @* price filter *@
    <div class="widget price mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Price</h6>
        <div class="widget-desc">
            @using (Html.BeginForm("Index", "Shop", FormMethod.Get))
            {
                <input type="range" min="0" max="5000" onchange="updateMinInput(this.value);"> <br />
                <input type="range" min="0" max="5000" onchange="updateMaxInput(this.value);">
                <br />
                <p>From:</p><input type="number" name="minPrice" id="minValue" min="0" maxlength="6" max="999999" value="00" size="6">
                <br />
                <p>To:</p><input type="number" name="maxPrice" id="maxValue" min="0" maxlength="6" max="999999" value="00" size="6"> <br /><br />
                
               <button class="btn-danger" type="submit">Filter</button>

            }
        </div>
    </div>


</div>



<div class="amado_product_area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
         
                        <div class="view d-flex">
                            <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sort by</p>
                            @* sort by dropdown *@
                            @using (Html.BeginForm("Index", "Shop"))
                            {
                                @Html.DropDownList("sortBy", (IEnumerable<SelectListItem>)ViewBag.sortByList, new { onchange = "this.form.submit();" })
                            }
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Product Area -->
            @foreach (var product in Model)
            {
                <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                    <div class="single-product-wrapper">
                        <a href="@Url.Action("Details", "Shop", new { Id = product.ProductId })">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="@(product.ProductURL)" alt="" class="img-rounded" style="width:500px; height:400px;">
                                @*<img class="hover-img" src="@(product.ProductURL)" alt="">*@
                            </div>
                        </a>

                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="hover-content">
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">CAD@(product.UnitPrice)</p>
                                    <h4>@(product.ProductName)</h4>
                                </div>
                            </div>

                            <!-- Ratings & Cart -->
                            <div class="ratings-cart text-right">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="cart">
                                    <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>




    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
<script src="~/js/jquery/jquery-2.2.4.min.js"></script>

<script type="text/javascript">
    function updateMinInput(val) {
        document.getElementById('minValue').value = 00;
        document.getElementById('minValue').value = val * 1;
    }
    function updateMaxInput(val) {
        document.getElementById('maxValue').value = 00;
        document.getElementById('maxValue').value = val * 1;
    }
</script>
